.sotrd_add
{
	padding: 5 5px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.dataTables_filter
{
	margin-top: 10px;
}

.contable
{
	position: relative;
	top: 20px;
}

.adminka select
{
	width: 180px;
	height: 30px;
}